style {
    .posts-container{
        float:left;
    }
}

$ const style = 'width:'+input.width+'px;'+(input.float ? 'float:'+input.float : '');

div.posts-container style=style
    post-summary
    post-summary type='black'
    post-summary
    post-summary type='blue'
    post-summary
    post-summary
    post-summary type='black'