style {
    .posts-container{
        float:left;
    }

    @media only screen and (max-width: 880px) {
        .posts-container {
            width: 100%;
            max-width:100% !important;
        }
    }
}

$ const style = 'max-width:'+input.width+'px;'+(input.float ? 'float:'+input.float : '');

div.posts-container style=style
    post-summary
    post-summary type='black'
    post-summary
    post-summary type='blue'
    post-summary
    post-summary
    post-summary type='black'