$ const style = 'max-width:100%;width:'+input.width+'px;'+(input.float ? 'float:'+input.float+';' : '')+(input.marginTop ? 'margin-top:'+input.marginTop+'px;' : '');

div style=style
    include(input)