<lasso-resource path="./favicon.png" var="favicon"/>

<!DOCTYPE html>
<html>
    <head>
        <title>PureJS</title>
        <link rel="shortcut icon" href=favicon.url>
        <lasso-head/>
    </head>

    <body>
        The content of the documents with HTTP/2......
        <lasso-body/>
    </body>
</html>