div.header
    a href="/"
        lasso-img src="./logo.png" width=50 height=50
        lasso-img src="./worm.png" width=50 height=50
        span -- JsWorm
    div.search if(!input.disableSearch)
        span -- JsWorm.hasOwnProperty('
        input#searchInput type="text"
        span#searchTrigger
            -- ');
            emoji code='search'