div.header
    lasso-img src="./logo.png" width=50 height=50
    a href="/"
        -- PureJS
    div.search if(!input.disableSearch)
        span -- PureJS.hasOwnProperty('
        input type="text"
        span -- ');