<meta property="og:title" content="JsWorm, ${input.title || 'a worm enjoying programming'}">
<meta property="og:description" content="${input.content || 'Tips, tricks, snippets and courses about Javascript'}">
<meta property="og:image:secure_url" content="${input.image || 'https://localhost/static/logo-3615d5eb.png'}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200">