$ {
    const emojis = {
        'man-blonde': '👨🏼',
        'man': '👦🏻',
        'calendar': '📅',
        'link': '🔗'
    };

    const emoji = input.code ? (emojis[input.code] || '') : '';
}

-- $!{emoji}