$ {
    const emojis = {
        'man-blonde': '👨🏼',
        'man': '👦🏻',
        'calendar': '📅',
        'link': '🔗',
        'newspaper': '📰',
        'course': '📚',
        'toolbox': '⚡',
        'snippets': '💼',
        'video':'🎬',
        'search':'🔎'
    };

    const emoji = input.code ? (emojis[input.code] || '') : '';
}

-- $!{emoji}