layout-homepage wrapperWidth=1280
    @body
        left-content-navigation
        grid width=1140 float='right'
            post
            grid width=560 float='left' marginTop=20
                post-summary
            grid width=560 float='right' marginTop=20
                post-summary