<layout-homepage>
    <@body>
        <post-summary />
        <post-summary type="black"/>
        <post-summary />
        <post-summary />
        <post-summary />
        <post-summary type="blue"/>
        <post-summary />
        <post-summary />
    </@body>
</layout-homepage>