layout-homepage wrapperWidth=1280
    @body
        grid width=1140
            div style="text-align:center"
                lasso-img src="./comingsoon.png" style="max-width: 100%;width: auto;height: auto;"