<lasso-page package-path="./browser.json"/>

<root-html>
    <@layoutHead>
        <include(input.head) />
    </@layoutHead>
    <@layoutContent>
        <header/>
        <wrapper width=860 mobilePadding=10>
            <@content>
                <include(input.body) />
            </@content>
        </wrapper>
    </@layoutContent>
</root-html>