<root-html>
    <@layoutHead>
        <include(input.head) />
    </@layoutHead>
    <@layoutContent>
        <header/>
        <wrapper width=720 mobilePadding=10>
            <@content>
                <include(input.body) />
            </@content>
        </wrapper>
    </@layoutContent>
</root-html>