<layout-offline>
    <@body>
        <h2 style="color: white;">JsWorm is working in offline mode!</h2>
        <post-summary />
        <post-summary type="black"/>
        <post-summary />
        <post-summary />
        <post-summary />
        <post-summary type="blue"/>
        <post-summary />
        <post-summary />
    </@body>
</layout-offline>